@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This web project is created to improve the skills of a mediocre developer, so any
    data entered here will not have any protection and can be used against you. If you have any questions, do not contact the developer. Good luck!</p>
